/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

pre {
	position: relative;
}

code.has-numbering {
    margin-left: 40px;
    font-size: 16px;
}

.pre-numbering {
	margin: 0;
	padding: 0;
	background: rgb(40, 44, 52);
  position: absolute;
  top: 0;
  width: 32px;
  height: 100%;
  text-align: right;
  font-family: monospace;
  border-right: 8px solid rgb(40, 44, 52);
  font-size: 16px;
}

.pre-numbering li {
	list-style: none;
	color: white;
	width: 100%;
	right: 0;
}

.p_code {
	display: inline-block;
	line-height: 1.2em;
	font-size: 1.2em;
	color: #000;
	font-family: Georgia, serif;
	background: #fff;
	border: 3px solid rgba(0, 0, 0, 0.4);
	border-radius: 0.3em;
  word-break: break-word;
}

.blockquote_p {
	background: #fff;
	font-family: STKaiti;
	font-size: 1.3em;
  font-weight: bold;

  /*      Amazing!     */
  word-break: break-word;
}

.blockquote_p .p_code {
  font-weight: normal;
}

table {
	  margin: 0 auto;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
