
body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Roboto, "Droid Sans", "Hiragino Sans GB", "Microsoft YaHei", "Simsun", STXihei, "sans-serif";
  cursor:url('/images/normal1.png'), default;
}

a {
	text-decoration: none;
}

a:hover{cursor:url('/images/link1.png'), pointer;}
button:hover{cursor:url('/images/link1.png'), pointer;}

#wrapper {
  background-image: url('../images/bg_bridge.jpeg');
  background-color: #C7C9EA;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  right: 0;
  width: 100%;
  /*  height: 100vh;*/
  transition: 0.2s ease-out;
  z-index: 1;
}

#details-post-item blockquote p code {
  /*overflow: hidden;*/
  word-wrap: break-word;
}

/* #################### 文章索引 #################### */

aside #toc a.read{
  /*color: #e06c75;*/
  color: #87daff;
  border-bottom: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

aside #toc a{
  color: #999;
  border-bottom: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

aside #toc a:hover{
  /*color: #87daff;*/
  color: #e5c07b;
  padding-left: 20px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

/* #################### 文章索引 #################### */

a[class$="-list-link"]:hover {
	background: url("/images/red-wave.svg") repeat-x 0 100%;
	background-size: 1.5em auto;
	animation: waveMove 4s infinite linear;
}

@keyframes waveMove {
  from { background-position: 0 100%; }
  to   { background-position: -100px 100%; }
}

.friends-list-link {
  text-align: center;
}

.prev {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: 1.5em;
  background-image: url("/images/prev.svg");
  position: relative;
  bottom: -0.3em;
}

.next {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-size: 1.5em;
  background-image: url("/images/next.svg");
  position: relative;
  bottom: -0.3em;
}

.page-number {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  background: #8AC007;
  border-radius: 50%;
  position: relative;
  top: -0.3em;
}

.current {
  background: orange;
}

.category-item, .tag-item, .archive-item {
  background: #bfa;
  line-height: 1.5em;
  font-size: 1.5em;
  font-family: Georgia, serif;
  font-style: italic;
  margin-top: 0.5em;

  position: relative;
}

.category-item time, .tag-item time, .archive-item time {
  position: absolute;
  right: 1em;
}

.MathJax_Display {
	overflow-x: auto;
	overflow-y: hidden;
}

.copy_btn {
  width: 4rem;
  height: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}